<?xml version="1.0" encoding="utf-8" ?>
<sheepaspect-config xmlns="urn:sheepaspect-config-1.0">
  <aspects>
    <assemblies>
      <include>InjectAttributesDemo.exe</include>
    </assemblies>
  </aspects>
  <weave>
    <assemblies>
      <include>InjectAttributesDemo.exe</include>
    </assemblies>
  </weave>
</sheepaspect-config>